/HW2.18/nbproject/private/
/HW2_30/nbproject/private/
/HW2_32/nbproject/private/
/HW2_30/build/
/HW2_32/build/

/JavaApplication1/nbproject/private/
/CSC125_ch3/nbproject/private/
/ch_3_examples/nbproject/private/
/ch_3_examples/build/

/JavaApplication7/nbproject/private/
/D&D roll for inititive/nbproject/private/

/HW2.18/build/
/JavaApplication2/nbproject/private/
/JavaApplication2/build/
/listPrimeNumbers/nbproject/private/
/listPrimeNumbers/build/
/Invoice/nbproject/private/
/JavaApplication5/nbproject/private/
/JavaApplication5/build/
/JavaApplication6/nbproject/private/
/JavaApplication6/build/
/ch4.9/nbproject/private/
/ch4.9/build/
/the roll/nbproject/private/
/Ch4_18/nbproject/private/
/Ch4_19/nbproject/private/
/JoshsNotes/nbproject/private/
/JoshsNotes/build/


/Ch4_19/build/
/Ch4_18/build/
/HW ch5.15/nbproject/private/
/HW ch5.16/nbproject/private/
/HW ch5.17/nbproject/private/
/HW ch5.21/nbproject/private/
/HW ch5.23/nbproject/private/
/HW ch5.31/nbproject/private/
/HW ch5.32/nbproject/private/
/HW ch5.33/nbproject/private/
/HW ch5.21/build/
/HW ch5.33/build/
/HW 6.8/nbproject/private/
/HW 6.15/nbproject/private/
/HW 6.28/nbproject/private/
/HW 6.24/nbproject/private/
/HW 6.25/nbproject/private/
/HW 6.26/nbproject/private/
/Homework/HW2_30/nbproject/private/
/Homework/HW2_32/nbproject/private/
/WIP MPL ch6/nbproject/private/
/Roll/nbproject/private/
/Homework/HW 6.24/build/
/Homework/HW 6.25/build/
/Prime from Internet/nbproject/private/
/Prime from Internet/build/
/Homework/HW 6.26/build/

/Ch 9 inclass/nbproject/private/
/NBCH8/nbproject/private/
/diechaieTurn/nbproject/private/
/diechaieTurn/build
/TBCH9/nbproject/private/
/TBch9ex/nbproject/private/
/TBch9ex/build/
/TBCH7/nbproject/private/
/TBCH7/build/
/Homework/CH3OGUI/nbproject/private/
/Homework/CH3OGUI/build/
/Homework/CH4OGUI/nbproject/private/