*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/JavaApplication1/nbproject/private/
/JavaApplication1/build/
/HW2.17/nbproject/private/
/HW2.17/build/
/HW2.18/nbproject/private/
/HW2.18/build/
/HW2_30/nbproject/private/
/HW2_30/build/